
@import "base/variables";
@import "base/normalize";
@import "base/syntax";
@import "base/general";
@import "base/helpers";

@import "pages/home-blog-writings";
@import "pages/page";
@import "pages/post";
@import "pages/tags";

@import "components/author";
@import "components/bigfoot-number";
@import "components/disqus";
@import "components/footer";
@import "components/header";
@import "components/nav";
@import "components/others";
@import "components/pagination";
@import "components/related";
@import "components/share";
@import "components/side-by-side";
@import "components/social-links";
@import "components/spoiler";


@import url(https://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@font-face {
	  font-family: "NanumBarunGothic";
		  src: url( '../_assets/NanumBarunGothic_0.ttf') format( 'truetype');
}

body {
    font-family: 'NanumBarunGothic', serif;
}

/* 블로그 들어갔을때 글 제목 폰트 변경*/
div {
    article{
        h2{
            a{
                font-family: 'NanumBarunGothic', serif;
            }
        }
    }
}
/* 글 내의 타이틀 변경*/
article{
    div{
        header{
            h1{
                font-family: 'NanumBarunGothic', serif;
            }
        }
    }
}
article{
    div{
        section{
            h2{
                font-family: 'NanumBarunGothic', serif;
            }
        }
    }
}
div{
    article{
        div{
            a{
                font-family: 'NanumBarunGothic', serif;
            }
        }
    }
}
